.newsHorizontalCard {
    border-radius: 0;
    height: 180px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.newsHorizontalCardImage {
    border-radius: 0;
    height: 180px;
    width: 242px;
    object-fit: cover;
}

.newsHorizontalCardBody {
    width: 100%;
    padding: 0;
    margin-top: 5px;
    margin-left: 10px;
}

.newsHorizontalCardTag {
    font-family: 'Noto Serif';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px;
    color: rgba(19, 140, 211, 1);
}

.newsHorizontalCardTitle {
    font-family: 'Noto Serif';
    font-size: 22px;
    font-weight: 600;
    line-height: 29.96px;
    text-align: left;
    color: rgba(18, 47, 64, 0.9);
}

.newsHorizontalCardDate {
    font-family: 'Noto Serif';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px;
    color: rgba(18, 47, 64, 0.6);
}

.newsHorizontalCardDescription {
    font-family: 'Noto Serif';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.newsHorizontalCardLink {
    font-family: 'Noto Serif';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(19, 140, 211, 1);
}

.newsHorizontalCardTag:hover,
.newsHorizontalCardLink:hover {
    cursor: pointer;
    opacity: 75%;
}
